/*
    Created on : 28 may. 2021, 9:57:48 a. m.
    Author     : wilson
*/


.boton-amarillo {
    @include boton($amarillo, inline-block);
}

.boton-amarillo-block {
    @include boton($amarillo, block);
}

.boton-verde {  
    @include boton($verde, inline-block); 
}

.alinear-derecha {
    display: flex;
    justify-content: flex-end;
}

